<header class="fixed top-0 w-full bg-white shadow z-50">
  <nav class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- LOGO -->
     <a href="/" class="flex items-center">
      <img src="/assets/logo.jpeg" alt="Cri las Rozas" class="h-10 w-auto">
      <span class="ml-2 font-bold text-xl text-gray-800">Cri las Rozas</span>
     </a>

    <div class="space-x-4">
      <a routerLink="/" class="font-semibold text-gray-700 hover:text-blue-600">Inicio</a>
      <a routerLink="/experiencia" class="font-semibold text-gray-700 hover:text-blue-600">Experiencia</a>
      <a routerLink="/galeria" class="font-semibold text-gray-700 hover:text-blue-600">Momentos destacados</a>
      <a routerLink="/fisioterapia" class="font-semibold text-gray-700 hover:text-blue-600">Fisioterapia</a>
      <a routerLink="/psicologia" class="font-semibold text-gray-700 hover:text-blue-600">Psicología</a>
      <a routerLink="/precios" class="font-semibold text-gray-700 hover:text-blue-600">Precios</a>
      <a routerLink="/diferenciales" class="font-semibold text-gray-700 hover:text-blue-600">Por qué elegirnos</a>
      <a routerLink="/contacto" class="font-semibold text-gray-700 hover:text-blue-600">Contacto</a>
    </div>
  </nav>
</header>
