---
// src/pages/experiencia.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import galeria from '../data/imagenes.json';
const base = import.meta.env.BASE_URL;
---

<BaseLayout>
  <section class="py-20 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6">
      <h2 class="text-3xl font-semibold text-center mb-12">
        Momentos destacados
      </h2>

      <div class="grid md:grid-cols-3 gap-8">
        {galeria.map((img: any) => (
          <div class="overflow-hidden rounded-lg shadow-lg hover:scale-105 transition-transform">
            <img src={`${base}assets/galeria/${img}`} alt={img} class="w-full h-48 object-cover" />
          </div>
        ))}
      </div>
    </div>
  </section>
</BaseLayout>